<aside class="sidebar">
    <article class="side_content">

        <div>
            <div class="side_img">
                <p>
                    <img src="/images/ico-admin-setting.png" alt="환경설정">
                    환경설정
                </p>
            </div>
            <div class="side_txt">
                <p>· 기본환경정보</p>
                <p>· 약관관리</p>
            </div>
        </div>

        <div>
            <div class="side_img">
                <p>
                    <img src="/images/ico-admin-academic.png" alt="학사운영">
                    학사운영
                </p>
            </div>
            <div class="side_txt">
                <a th:href="@{/admin/operation/list}"><p>· 교육 운영 현황</p></a>
                <p>· 학년별 학생 현황</p>
                <p>· 학과별 학생 현황</p>
                <a th:href="@{/admin/lecture/list}"><p>· 강의 목록</p></a>
                <a th:href="@{/admin/lecture/register}"><p>· 강의 등록</p></a>
                <a th:href="@{/admin/register/list}"></a><p>· 수강 현황</p>
            </div>
        </div>

        <div>
            <div class="side_img">
                <p>
                    <img src="/images/ico-admin-persons.png" alt="인사관리">
                    인사관리
                </p>
            </div>
            <div class="side_txt">
                <a th:href="@{/admin/student/list}"><p>· 학생 목록 및 등록</p></a>
                <a th:href="@{/admin/professors/list}"><p>· 교수 목록 및 등록</p></a>
                <p>· 임직원 목록 및 등록</p>
            </div>
        </div>

        <div>
            <div class="side_img">
                <p>
                    <img src="/images/ico-admin-college.png" alt="대학 및 학과">
                    대학 및 학과
                </p>
            </div>
            <div class="side_txt">
                <a th:href="@{/admin/departments/list}"><p>· 대학 및 학과 목록</p></a>
                <a th:href="@{/admin/college/register}"><p>· 대학 및 학과 등록</p></a>
            </div>
        </div>

        <div>
            <div class="side_img">
                <p>
                    <img src="/images/ico-admin-board.png" alt="게시판관리">
                    게시판관리
                </p>
            </div>
            <div class="side_txt">
                <p>· 입사안내 공지사항</p>
                <p>· 학사안내 공지사항</p>
                <p>· 커뮤니티 공지사항</p>
                <p>· 입학상담</p>
                <p>· 질문 및 답변</p>
                <p>· 식단안내</p>
                <p>· 자료실</p>
            </div>
        </div>

    </article>
</aside>