<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>샘플</title>
    <link rel="stylesheet" href="/greendae/css/layout/layout.css">
    <link rel="stylesheet" href="/greendae/css/academics/registration.css">
</head>
<body>
    <div id="wrapper">
        <!-- 헤더 시작작-->
        <header>
            <div>
                <div>
                    <p>
                        <a href="#">HOME |</a>
                        <a href="#">사이드맵 |</a>
                        <a href="#">로그인 |</a>
                        <a href="#">학생지원</a>
                    </p>
                </div>
            </div>
            <div>
                <div>
                    <a href="#">
                        <img src="/greendae/images/header_logo.png" alt="그린대학교">
                    </a>
                    <nav> 
                        <ul>
                            <li><a href="#">대학소개</a></li>
                            <li><a href="#">입학안내</a></li>
                            <li><a href="#">대학·대학원</a></li>
                            <li><a href="#">학사안내</a></li>
                            <li><a href="#">대학생활</a></li>
                            <li><a href="#">커뮤니티</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!-- 헤더 끝-->
        <!-- 메인 시작작-->
        <main>
            <div class="background">
                <div>
                    <span style="margin-top: 10px;">
                        <img src="/greendae/images/ico-home.png" alt="HOME">
                        <img src="/greendae/images/bg-path-arrow.png" alt=">">
                        학사안내   
                        <img src="/greendae/images/bg-path-arrow.png" alt=">">
                        <span style="color: #071F4B;">수강신청</span>
                    </span>
                </div>
            </div>
            <section class="content">
                <!-- 왼쪽 사이드바 -->
                <aside class="sidebar">
                    <article class="side_content">             
                        <div class="side_title">
                            <p>학사안내</p>
                        </div>            
                        <a href="#">
                            <div>공지사항</div>
                        </a>
                        <a href="#">
                            <div>학사일정</div>
                        </a>
                        <a href="#">
                            <div>수강신청</div>
                        </a>
                        <a href="#">
                            <div>성적</div>
                        </a>
                        <a href="#">
                            <div>수료 및 졸업</div>
                        </a>
                        <a href="#">
                            <div>자주하는 질문</div>
                        </a>

                    </article>
                </aside>
                <!-- 오른쪽 글 -->
                <article class="main_content">
                    <div class="main_title">
                        <p>수강신청</p>
                    </div>
                    <div class="date">
                        <h5> 수강신청 기간</h5>
                        <p>- 매학기 수강신청은 개강 전에 실시, 학생은 수강신청 공고를 충분히 숙지한 다음, 수강신청 기간에 인터넷을 통해 신청과목을 입력</p>
                        <p>- 필요한 경우 학과사무실의 학사상담이나 지도교수의 지도를 받을 수 있으며, 반드시 학년별 지정된 날짜에 수강신청 완료</p>
                        <p>- 자세한 설명은 학사일정 공지사항 게시판 참조</p><br>
                    </div>
                    <div class="credit">
                        <h5> 수강신청 학점</h5>
                        <p>- 학기당 이수학점 : 18학점 이내(논문과목 별도) [대학 학칙 제 20조]</p><br>
                    </div>
                    <div class="credit_classes">
                        <h5> 학부(과)별 신청 학점</h5>
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="2">수강신청 학점 수</th>
                                    <th>대상 학부(과)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>졸업학점이 130학점인 학부(과)</td>
                                    <td>최저 12학점, 최대 18학점</td>
                                    <td>인문대학, 사회과학대학, 경영대학, 공과대학, 자연과학대학, 간호대학, 글로벌융합대학, 소프트웨어융합대학, 미디어스쿨, 데이터과학융합스쿨, 나노융합스쿨,미래융합스쿨</td>
                                </tr>
                                <tr>
                                    <td>졸업학점이 135-140학점인 학부(과)</td>
                                    <td>최저 15학점, 최대 21학점</td>
                                    <td>의과대학 의예과(수료학점은 72이상)</td>
                                </tr>
                                <tr>
                                    <td>졸업학점이 150학점인 학부(과)</td>
                                    <td>최저 15학점, 최대 26학점</td>
                                    <td>의과대학 의학과</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>- 4학년 1학기에는 12학점 이상, 최종학기에는 1과목 이상 수강신청 하여야 한다.</p>
                        <p>- 직전학기 성적이 3.75 이상인 학생은 최대학점에서 3학점까지 초과 이수할 수 있다.</p>
                        <p>- 장학생 선발은 직전학기에 평점 평균 2.0 이상을 취득하여야 하며, 대학별 기준학점 이상을 이수하여야 한다.(학생지원팀 055-123-1010 문의)</p><br>
                    </div>
                    <div class="register">
                        <h5> 수강신청 변경 및 수강과목 철회</h5>
                        <p>- 수강 신청한 과목을 철회하고자 할 때에는 수업 주수 4분의 1 이전까지 정해진 기간에 해당 교과목을 해당 사이트를 통하여 철회할 수 있음</p>
                        <p>- 학기당 2과목까지 철회할 수 있으나, 철회로 수강인원이 폐강기준인원 미만이 되는 교과목은 수강철회를 불허</p>
                        <p>- 철회 후 수강신청학점이 학기 당 최저이수학점 이상이 되어야 함</p><br>
                        <article class="register_btn">
                            <p>수강신청하기
                                <img src="/greendae/images/bg-link.png" alt="링크이동">
                            </p>
                            
                        </article>
                    </div>
                </article>
            </section>
        </main>
        <!-- 메인 끝-->
        <!-- 푸터 시작작-->
        <footer>
            <div>
                <div>
                    <ul>
                        <li><a href="#">개인정보처리방침</a></li>
                        <li><a href="#">통합정보시스템</a></li>
                        <li><a href="#">학사일정</a></li>
                        <li><a href="#">주요인원 연락처</a></li>
                        <li><a href="#">교내공지사항</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div>
                    <img src="/greendae/images/footer_logo.png" alt="그린대학교">
                    <p>
                        그린대학교 <br>
                        [12345] 부산광역시 부산진구 부전대로 123 그린대학교 / 대표전화 : 051-123-1000 / <br>
                        입학안내 : 051-123-1302 팩스 : 051-123-3333

                        <br><br>
                        copyright ©Green University All rights reserved.
                    </p>
                    <div>
                        <p>주요사이트  
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ▾</p>
                    </div>              
                </div>
            </div>
        </footer>
        <!-- 푸터 끝-->
    </div>
</body>
</html>