/* 메인 내용 부분*/



.main_content_detail > nav > form {
    float: right;
    margin-bottom: 20px;
}

.main_content_detail > nav > form > select {
    width: 150.5px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #dedede;
    color:#666666;
}

.main_content_detail > nav > form > input[name=keyword]{
    width: 237px;
    height: 38px;
    text-indent: 6px;
    border: 1px solid #dedede;
}
.main_content_detail > nav >form > input[type=submit]{
    width: 70px;
    height: 40px;
    border: 1px solid #d7d7d7;
    background: #3497f6; 
    color: #ffffff;
}

.main_content_detail > table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #000000;
}


.main_content_detail > table > caption {
    text-align: left;
    margin-bottom: 6px;
}

.main_content_detail > table tr:nth-of-type(4) {

}
.main_content_detail > table tr > th {
    width: auto;
    height: 61px;
    background: #FAFAFA;
    font-weight: 700;
}


.main_content_detail > table tr > th:nth-of-type(1) {width: 93px;}
.main_content_detail > table tr > th:nth-of-type(2) {width: 511px;}
.main_content_detail > table tr > th:nth-of-type(3) {width: 93px;}
.main_content_detail > table tr > th:nth-of-type(4) {width: 93px;}
.main_content_detail > table tr > th:nth-of-type(5) {width: 139px;}


.main_content_detail > table tr > td {
    width: auto;
    height: 58px;
    border-bottom: 1px solid #d8d8d8;
    text-align: center;
}

.main_content_detail > table tr > td:nth-child(2) {text-align: left}


.main_content_detail > .page {
    text-align: center;
    margin-top: 30px;
}
.main_content_detail > .page > a {
    
    display: inline-block;
    padding: 8px;
    border: 1px solid #dedede;
    color: #888888;
    width: 18px;
    
}
.main_content_detail > .page > .prev {}
.main_content_detail > .page > .next {}
.main_content_detail > .page > .num {
    margin-left: 18px;
    margin-right: 18px;
}
.main_content_detail > .page > .current {
    border: 1px solid #6d6d6d;
    background: #888;
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 8px;    
    border: 1px solid #bebebe; 
    text-align: center;    
    cursor: pointer;
}

.btnWrite {
    float: right;
    border: 1px solid #3b3c3f; 
    background: #4b545e; 
    color: #fff;
}






