<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그린대학교 로그인</title>
    <link rel="stylesheet" href="/css/layout/layout.css">
    <link rel="stylesheet" href="/css/user/login.css">
    <link rel="website icon" type="png" th:href="@{/images/favicon.png}">

    <!--장민혁-->

</head>
<body>
    <div id="wrapper">
        <!-- 헤더 시작작-->

        <th:block th:include="/inc/_header.html"/>

        <!-- 헤더 끝-->
        <!-- 메인 시작작-->
        <main>
            <div class="background">
                <div>
                    <span style="margin-top: 10px;">
                        <img src="/images/ico-home.png" alt="HOME">
                        <img src="/images/bg-path-arrow.png" alt=">">
                        회원
                        <img src="/images/bg-path-arrow.png" alt=">">
                        <span style="color: #071F4B;">로그인</span>
                    </span>
                </div>
            </div>
            <section class="content">
                <article class="user_content">

                    <div style="width: 495px; margin-bottom: 20px;">
                        <p style="color:#3F97F6; font-size: 20px; font-style: normal; font-weight: 500; line-height: 24px; width: 61px; height: 30px;">LOGIN</p>
                        <p style="color:#3F97F6; font-size: 15px; font-weight: 350; line-height: 24px; width: 345px; height: 24px; margin-bottom: 20px;">로그인을 하시면 더 다양한 서비스를 받으실 수 있습니다.</p>
                        <input type="radio" id="student" name="userType" value="student" class="custom-checkbox">
                        <label for="student">학부생</label>

                        <input type="radio" id="staff" name="userType" value="staff" class="custom-checkbox">
                        <label for="staff">교직원 </label>

                        <input type="radio" id="Normal" name="userType" value="Normal" class="custom-checkbox">
                        <label for="Normal">일반인</label>

                            <a href="/user/findpassword" style="float: right;"><span>비밀번호 찾기</span></a>
                            <a href="/user/findid" style="float: right;"><span>아이디 찾기/</span></a>
                            <a href="/user/termsandconditions" style="float: right;"><span>회원가입/</span></a>

                    </div>

                    <div>
                    <form method="post">
                        <label for="uid"></label>
                        <input class="logins" type="text" id="uid" name="uid" placeholder="아이디" required>

                        <label for="pass"></label>
                        <input class="logins" style="margin-top: 10px;" type="password" id="pass" name="pass" placeholder="비밀번호" required>

                        <button class="btn1"
                                type="submit" id="login">로그인</button>

                    <div>
                        <p style="color: #0067B3; font-size: 18px; font-weight: 500; margin-top: 25px;">
                            <img src="/images/bullet-h4.png" alt="" style="margin-right: 4px; margin-bottom: 3px; ">
                            아이디,비밀번호 안내
                        </p>

                        <div class="text1" style="margin-top: 10px;">
                            <p>- 대학 구성원(학원, 교직원)은 회원가입없이 교번, 학번을 사용하여 로그인이 가능합니다.</p>
                            <p>- 비밀번호 분실시 학생지원팀에 방문하셔서 초기화하실 수 있습니다.</p>
                            <p>- 재학, 휴학, 졸업 유예인 경우 사용하실 수 있으며, 매년 학적변동이 일어날 때 상태가 변경됩니다.</p>
                            <p>- 문의사항이 있으시면 담당자(055-123-4567)에게 전화주세요</p>
                        </div>

                    </div>

            </div>

                </article>
            </section>
            </form>


        </main>

            <!-- 푸터 시작-->
        <th:block th:include="/inc/_footer.html"/>
            <!-- 푸터 끝-->
        </div>
    </body>
    </html>