<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대학소개 > 연혁</title>
    <link rel="stylesheet" href="/css/layout/layout.css">
    <link rel="stylesheet" href="/css/intro/history.css">
    <link rel="website icon" type="png" th:href="@{/images/favicon.png}">
</head>
<body>
    <div id="wrapper">
        <!-- 헤더 시작작-->
        <th:block th:include="/inc/_header.html"/>
        <!-- 헤더 끝-->
        <!-- 메인 시작작-->
        <main>
            <div class="background">
                <div>
                    <span style="margin-top: 10px;">
                        <img src="/images/ico-home.png" alt="HOME">
                        <img src="/images/bg-path-arrow.png" alt=">">
                        대학소개   
                        <img src="/images/bg-path-arrow.png" alt=">">
                        <span style="color: #071F4B;">연혁</span>
                    </span>
                </div>
            </div>
            <section class="content">
                <!-- 왼쪽 사이드바 -->
                <th:block th:include="/inc/intro/sidebar.html"/>
                <!-- 오른쪽 글 -->
                <article class="main_content">
                    <div class="main_title">
                        <p>연혁</p>
                    </div>
                    <div class="main_content_detail">
                        <div class="history">
                            <div>
                              <h2>2025</h2>
                              <ol>
                                <li>한국산업인력공단 주관 2025년 시행 과정평가형 국가기술자격 종목별 훈련과정 지정 – 총 22개 기관, 84개 과정</li>
                                <li>한국산업인력공단 주관 2024년 시행 과정평가형 국가기술자격 종목별 교육·훈련과정 지정 </li>
                                <li>직업능력심사평가원 주관 2023년도 직업능력개발훈련 심사평가 훈련과정 반납 및 재선정</li>
                                <li>지역인적자원개발위원회 주관 산업구조변화대응 등 특화훈련 사업 우수 훈련기관상 수상</li>
                                <li>지역인적자원개발위원회 주관 산업구조변화대응 등 특화훈련 제1차 사업 선정</li>
                                <li>한국산업인력공단 주관 과정평가형 국가기술자격 취득률 100% 달성</li>
                                <li>정보기술·사업관리산업 인적자원개발위원회 주관 2024년도 제1차 정보기술·사업관리ISC 산업구</li>
                                <li>조변화대응 등 특화훈련 훈련공급기관 및 과정 선정</li>
                                <li>지역인적자원개발위원회 주관 2024년 제1차 산업구조변화대응 등 특화훈련 선정</li>
                                <li>직업능력심사평가원 주관 2024년 상반기 K-디지털 기초역량훈련 훈련과정 선정</li>
                               </ol>
                            </div>
                         
                            <div>
                              <h2>2023</h2>
                              <ol>
                                <li>직업능력심사평가원 주관 2024년 상반기 운영 K-디지털 트레이닝(첨단산업·디지털 핵심 실무인재 양성훈련) 1차 선정</li>
                                <li>직업능력심사평가원 주관 훈련이수자평가 A등급 획득</li>
                              </ol>
                            </div>
                         
                            <div>
                              <h2>2021</h2>
                              <ol>
                                <li>직업능력심사평가원 주관 2024년 운영 국가기간·전략산업직종 프로젝트 훈련 선정</li>
                                <li>서울지방고용노동청 주관 ‘24년 제1차 HIT! K-JOB STAR 프로젝트 발표회 진행</li>
                              </ol>
                            </div>
                         
                         </div>
                         
                        
                    </div>  
                </article>
            </section>
        </main>
        <!-- 메인 끝-->
        <!-- 푸터 시작작-->
        <th:block th:include="/inc/_footer.html"/>
        <!-- 푸터 끝-->
    </div>
</body>
</html>