<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대학소개 > 교육이념</title>
    <link rel="stylesheet" href="/css/layout/Philosophy.css">
    <link rel="stylesheet" href="/css/layout/layout.css">
    <link rel="website icon" type="png" th:href="@{/images/favicon.png}">
</head>
<body>
    <div id="wrapper">
        <!-- 헤더 시작작-->
        <th:block th:include="/inc/_header.html"/>
        <!-- 헤더 끝-->
        <!-- 메인 시작작-->
        <main>
            <div class="background">
                <div>
                    <span style="margin-top: 10px;">
                        <img src="/images/ico-home.png" alt="HOME">
                        <img src="/images/bg-path-arrow.png" alt=">">
                        대학소개   
                        <img src="/images/bg-path-arrow.png" alt=">">
                        <span style="color: #071F4B;">교육이념</span>
                    </span>
                </div>
            </div>
            <section class="content">
                <!-- 왼쪽 사이드바 -->
                <th:block th:include="/inc/intro/sidebar.html"/>
                <!-- 오른쪽 글 -->
                <article class="main_content">
                    <div class="main_title">
                        <p>교육이념</p>
                    </div>
                    <div class="main_content_detail">
                        <!-- 작성할 내용 시작-->                        
                        <h2 class="kortext" style="color: red; font-size: 24px; font-weight: bold   ;">대한민국의 교육이념</h2><br>
                        <div>
                            <ul class="kor">
                                <li>
                                    <p>
                                        교육은 홍익인간의 이념 아래 모든 국민으로 하여금 인격을 도야하고 자주적 생활능력과 민주시민으로서 필요한 자질을 갖추게 하여 인간다운 삶을 영위하게 하고 민주국가의 발전과 인류 공영의 이상을 실현하는 데 이바지하게 함을 목적으로 한다.<span style="color: green;">(고등교육법 제2조)</span>
                                    </p><br>
                                    <p>
                                        대학은 인격을 도야하고 국가와 인류사회 발전에 필요한 학술의 심오한 이론과 그 응용방법을 교수·연구하며, 국가와 인류사회에 공헌함을 목적으로 한다. <span style="color: green;">(고등교육법 제28조)</span>
                                    </p>

                                </li>
                            </ul>
                        </div>
                        <div style="margin-top: 30px; border-top: 2px solid #ccc;">
                            <h2 class="university" style="color: blue; font-size: 24px; font-weight: bold;">대학의 교육이념</h2>
                        </div>
                        <div class="divbox">
                            <img src="/images/idea_background.png" alt="사진">
                            <div> 
                                <p style="color: honeydew; font-size: 24px;">박애·봉사·애국</p>
                                <p>
                                    공익을 위해 헌신하고, 어렵고 고통 받는 사람들을 돌보는 사회적 책임을 다하며, 국민을 행복하게 하는 나라사랑을 실천함<br><br>
                                </p>
                                <p>
                                    박애 · 봉사 · 애국은 세월이 흘러도 변치 않는 인류사랑, 이웃사랑, 나라사랑의 정신을 가천대학교 교육정신의 근간으로 삼음
                                </p>
                            </div>
                        </div>


                        
                            <ul>
                                <li><br>
                                    <div class="education-values">
                                        <p>
                                            <span class="love">박애</span><br>
                                            사람은 누구나 고귀하고 평등합니다.<br>
                                            어렵고 외로운 사람들에게 희망을 안겨주는 이웃사랑 실천
                                        </p>
                                        <p>
                                            <span class="service">봉사</span><br>
                                            사랑과 나눔을 통해 고통받는 사람들을<br>
                                            감싸안으며 사회적 약자를 돌봄
                                        </p>
                                        <p>
                                            <span class="patriotism">애국</span><br>
                                            나라의 미래를 짊어질 인재를 양성하는데 헌신하며,<br>
                                            국가 발전에 앞장섬
                                        </p>
                                    </div>

                                </li>
                            </ul>

                    </script>
                    </div>  
                </article>
            </section>
        </main>
        <!-- 메인 끝-->
        <!-- 푸터 시작작-->
        <th:block th:include="/inc/_footer.html"/>
        <!-- 푸터 끝-->
    </div>
</body>
</html>