<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그린대학교</title>
    <link rel="stylesheet" href="/greendae/css/layout/index.css">
</head>
<body>
<div id="wrapper">
    <!-- 헤더 시작작-->
    <header>
        <div>
            <div>
                <p>
                    <a href="#">HOME |</a>
                    <a href="#">사이드맵 |</a>
                    <a href="#">로그인 |</a>
                    <a href="#">학생지원</a>
                </p>
            </div>
        </div>
        <div>
            <div>
                <a href="#">
                    <img src="/greendae/images/header_logo.png" alt="그린대학교">
                </a>
                <nav>
                    <ul>
                        <li><a href="#">대학소개</a></li>
                        <li><a href="#">입학안내</a></li>
                        <li><a href="#">대학·대학원</a></li>
                        <li><a href="#">학사안내</a></li>
                        <li><a href="#">대학생활</a></li>
                        <li><a href="#">커뮤니티</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- 헤더 끝-->
    <!-- 메인 시작작-->
    <main>
        <section class="main_slider">
            <div>
                <p style="margin-top: 107px; font-size: 24px;">IT 기술로 세상을 변화시키는 인재를 양성</p><br>
                <p>그린대학교 컴퓨터 과학과</p><br>
                <p>급변하는 컴퓨터 기술의 발전에 선도적으로 참여하고 컴퓨터의 활용을 통하여 미래를 만들어 나갈 수 있는 인력을 배양</p>

                <a href="">
                    <div>
                        <p style="font-size: 16px;">학과소개 바로가기</p>
                    </div>
                    <div>
                        <p style="font-size: 12px;">● ○ ○</p>
                    </div>
                </a>
            </div>
        </section>
        <section class="main_intro">
            <div> <!-- 이동시킨 intro내용 시작 div-->
                <div>
                    <div class="main_academic">
                        <div class="main_intro_title_left">
                            <span>학사안내</span>
                            <a href="#">
                                <img src="/greendae/images/bg-viewmore01.png" alt="추가버튼">
                            </a>
                        </div>
                        <div>
                            <table style="margin-top: 10px;" class="intro_left_table">
                                <tr>
                                    <td>
                                        <span>교과목 폐지 및 신설 안내</span>
                                        <img src="/greendae/images/ico-new01.gif" alt="아이콘">
                                    </td>
                                    <td>2019.05.29</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>2019-2학기 진로취업 프로그램 설계를 위한 학생 대상...</span>
                                        <img src="/greendae/images/ico-new01.gif" alt="아이콘">
                                    </td>
                                    <td>2019.05.29</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>제8회 KNDA 학술논문상 공모</span>
                                    </td>
                                    <td>2019.05.29</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>대학 진로취업지원 현황 조사 안내</span>
                                    </td>
                                    <td>2019.05.29</td>
                                </tr>
                                <tr>
                                    <td>
                                            <span>
                                                [진로취업특강] 유망직무 전문가 초청 특강, 여대생 커...
                                            </span>
                                    </td>
                                    <td>2019.05.29</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="main_notice">
                        <div class="main_intro_title_right">
                            <span>공지사항</span>
                            <a href="#">
                                <img src="/greendae/images/bg-viewmore01.png" alt="추가버튼">
                            </a>
                        </div>
                        <div>
                            <table style="margin-top: 10px;" class="intro_right_table">
                                <tr>
                                    <td>
                                        <span>교과목 폐지 및 신설 안내</span>
                                        <img src="/greendae/images/ico-new02.gif" alt="아이콘">
                                    </td>
                                    <td>2019.05.29</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>2019-2학기 진로취업 프로그램 설계를 위한 학생 대상...</span>
                                        <img src="/greendae/images/ico-new02.gif" alt="아이콘">
                                    </td>
                                    <td>2019.05.29</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>제8회 KNDA 학술논문상 공모</span>
                                    </td>
                                    <td>2019.05.29</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>대학 진로취업지원 현황 조사 안내</span>
                                    </td>
                                    <td>2019.05.29</td>
                                </tr>
                                <tr>
                                    <td>
                                            <span>
                                                [진로취업특강] 유망직무 전문가 초청 특강, 여대생 커...
                                            </span>
                                    </td>
                                    <td>2019.05.29</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="photo_gallery">
                    <p>PHOTO GALLERY
                        <a href="#"><img style="float: right;" src="/greendae/images/bg-viewmore01.png" alt="추가버튼"></a>
                    </p>
                    <div>
                        <div><p>글로벌 명문대학 그린대학교</p></div>
                    </div>
                    <div>
                        <div><p>글로벌 명문대학 그린대학교</p></div>
                    </div>
                    <div>
                        <div><p>글로벌 명문대학 그린대학교</p></div>
                    </div>
                    <div>
                        <div><p>글로벌 명문대학 그린대학교</p></div>
                    </div>
                </div>
            </div>

        </section>
        <section class="main_helper">
            <div class="helper">
                <p class="helper_txt1">동아리 HELPER</p>
                <p class="helper_txt2">
                    공무원 시험 준비반을 운용함으로써 정치행정학과에서 공무원 시험을 준비하는 학생들에게<br>
                    인터넷 강의, 교재를 제공하고 스터디 그룹의 활동을 도와주고 있습니다.
                </p>
                <a href="#">
                    <div class="helper_btn">
                        자세히보기
                    </div>
                </a>
            </div>
        </section>
        <section class="main_new">
            <div class="left_new">
                <div>
                    <div class="title">
                        <span>뉴스 및 칼럼</span>
                        <a href="#">
                            <img src="/static/images/bg-viewmore01.png" alt="추가버튼">
                        </a>
                    </div>

                    <table style="margin-top: 20px;" class="new_table">
                        <tr>
                            <td>
                                <span>교과목 폐지 및 신설 안내</span>
                                <img src="/greendae/images/ico-new01.gif" alt="아이콘">
                            </td>
                            <td>2019.05.29</td>
                        </tr>
                        <tr>
                            <td>
                                <span>2019-2학기 진로취업 프로그램 설계를 위한 학생 대상...</span>
                                <img src="/greendae/images/ico-new01.gif" alt="아이콘">
                            </td>
                            <td>2019.05.29</td>
                        </tr>
                        <tr>
                            <td>
                                <span>제8회 KNDA 학술논문상 공모</span>
                            </td>
                            <td>2019.05.29</td>
                        </tr>
                        <tr>
                            <td>
                                <span>대학 진로취업지원 현황 조사 안내</span>
                            </td>
                            <td>2019.05.29</td>
                        </tr>
                        <tr>
                            <td>
                                        <span>
                                            [진로취업특강] 유망직무 전문가 초청 특강, 여대생 커...
                                        </span>
                            </td>
                            <td>2019.05.29</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="right_new">
                <div>
                    <div class="title">
                        <span>SMART LINK</span>
                        <a href="#">
                            <img src="/greendae/images/bg-viewmore01.png" alt="추가버튼">
                        </a>
                    </div>
                    <div class="smart_link">
                        <div style="height: 159.39px;">
                            <div>
                                <div>
                                    <img src="/greendae/images/bg-main-link01.png" alt="입학안내">
                                </div>
                                <p>입학안내</p>
                            </div>
                        </div>
                        <div style="height: 159.39px;">
                            <div>
                                <div>
                                    <img src="/greendae/images/bg-main-link01.png" alt="입학안내">
                                </div>
                                <p>입학안내</p>
                            </div>
                        </div>
                        <div style="height: 159.39px;">
                            <div>
                                <div>
                                    <img src="/greendae/images/bg-main-link01.png" alt="입학안내">
                                </div>
                                <p>입학안내</p>
                            </div>
                        </div>
                        <div style="height: 159.39px;">
                            <div>
                                <div>
                                    <img src="/greendae/images/bg-main-link01.png" alt="입학안내">
                                </div>
                                <p>입학안내</p>
                            </div>
                        </div>
                        <div style="height: 159.39px;">
                            <div>
                                <div>
                                    <img src="/greendae/images/bg-main-link01.png" alt="입학안내">
                                </div>
                                <p>입학안내</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>

    </main>
    <!-- 메인 끝-->
    <!-- 푸터 시작작-->
    <footer>
        <div>
            <div>
                <ul>
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">통합정보시스템</a></li>
                    <li><a href="#">학사일정</a></li>
                    <li><a href="#">주요인원 연락처</a></li>
                    <li><a href="#">교내공지사항</a></li>
                </ul>
            </div>
        </div>
        <div>
            <div>
                <img src="/greendae/images/footer_logo.png" alt="그린대학교">
                <p>
                    그린대학교 <br>
                    [12345] 부산광역시 부산진구 부전대로 123 그린대학교 / 대표전화 : 051-123-1000 / <br>
                    입학안내 : 051-123-1302 팩스 : 051-123-3333

                    <br><br>
                    copyright ©Green University All rights reserved.
                </p>
                <div>
                    <p>주요사이트
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ▾</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- 푸터 끝-->
</div>
</body>
</html>