<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>샘플</title>
    <link rel="stylesheet" href="/greendae/css/layout/layout.css">
    <style>
        .green_txt{
            color: blue;
            font-weight: bold;
        }

        table.common {
            position: relative;
            width: 930px;
            height: 1252px;
            top: 26px;
            text-align: center;
            border-top: 2px solid #071F4B;
            border-bottom: 1px solid #dedede;
        }
        table.common > td{

        }

        table.option {
            position: relative;
            width: 930px;
            height: 300px;
            margin-top: 50px;
            text-align: center;
            border-top: 2px solid #071F4B;
            border-bottom: 1px solid #dedede;
        }
        .main_content > div:nth-child(2) {
            margin-top: 20px;
        }
        .main_content >  div > h5:nth-child(1){
            margin-bottom: -20px;
            font-weight: 500;
            font-size: 18px;
            color: #145074;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
        }
        .main_content >  div > h5:nth-child(3){
            margin-top: 50px;
            margin-bottom: -45px;
            font-weight: 500;
            font-size: 18px;
            color: #145074;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
        }
        .main_content > div > h5:nth-child(1)::before{
            content: url('/greendae/images/bullet-h4.png');

        }
        .main_content > div > h5:nth-child(3)::before{
            content: url('/greendae/images/bullet-h4.png');
        }

    </style>
</head>
<body>
    <div id="wrapper">
        <!-- 헤더 시작작-->
        <header>
            <div>
                <div>
                    <p>
                        <a href="#">HOME |</a>
                        <a href="#">사이드맵 |</a>
                        <a href="#">로그인 |</a>
                        <a href="#">학생지원</a>
                    </p>
                </div>
            </div>
            <div>
                <div>
                    <a href="#">
                        <img src="/greendae/images/header_logo.png" alt="그린대학교">
                    </a>
                    <nav> 
                        <ul>
                            <li><a href="#">대학소개</a></li>
                            <li><a href="#">입학안내</a></li>
                            <li><a href="#">대학·대학원</a></li>
                            <li><a href="#">학사안내</a></li>
                            <li><a href="#">대학생활</a></li>
                            <li><a href="#">커뮤니티</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!-- 헤더 끝-->
        <!-- 메인 시작작-->
        <main>
            <div class="background">
                <div>
                    <span style="margin-top: 10px;">
                        <img src="/greendae/images/ico-home.png" alt="HOME">
                        <img src="/greendae/images/bg-path-arrow.png" alt=">">
                        학생지원   
                        <img src="/greendae/images/bg-path-arrow.png" alt=">">
                        <span style="color: #071F4B;">교과과정</span>
                    </span>
                </div>
            </div>
            <section class="content">
                <!-- 왼쪽 사이드바 -->
                <aside class="sidebar">
                    <article class="side_content">             
                        <div class="side_title">
                            <p>학생지원</p>
                        </div>            
                        <a href="#">
                            <div>수강신청</div>
                        </a>
                        <a href="#">
                            <div>수강신청내역</div>
                        </a>
                        <a href="#">
                            <div>교과과정</div>
                        </a>
                        <a href="#">
                            <div>성적조회</div>
                        </a>
                        <a href="#">
                            <div>학적</div>
                        </a>
                    </article>
                </aside>
                <!-- 오른쪽 글 -->
                <article class="main_content">
                    <div class="main_title">
                        <p>교과과정</p>
                    </div>
                    <div>
                        <h5> 공통과목(전공)</h5>
                        <table class="common">
                            <tr>
                                <th>수준</th>
                                <th>코드번호</th>
                                <th>이수구분</th>
                                <th>교과목명</th>
                                <th>학점</th>
                            </tr>
                            <tr>
                                <td rowspan="6">1</td>
                                <td>G01940</td>
                                <td>공통</td>
                                <td>C언어</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>G01941</td>
                                <td>공통</td>
                                <td>프로그래밍언어론</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>G01942</td>
                                <td>공통</td>
                                <td>컴퓨터과학개론</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>G01943</td>
                                <td>공통</td>
                                <td>이산수학</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>G01944</td>
                                <td>공통</td>
                                <td>인터넷과웹기초</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>G01945</td>
                                <td>공통</td>
                                <td>컴퓨팅사과와인공지능</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td rowspan="6">2</td>
                                <td>G01946</td>
                                <td>공통</td>
                                <td>자바프로그래밍</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>G01947</td>
                                <td>공통</td>
                                <td>자료구조</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>G01948</td>
                                <td>공통</td>
                                <td>컴퓨터구조</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>G01949</td>
                                <td>공통</td>
                                <td>선형대수</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>G01950</td>
                                <td>공통</td>
                                <td>알고리즘</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>G01951</td>
                                <td>공통</td>
                                <td>HTML/CSS/Javascript</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td rowspan="6">3</td>
                                <td>G01952</td>
                                <td>공통</td>
                                <td>웹 프로그래밍</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>G01953</td>
                                <td>공통</td>
                                <td>프로그래밍언어론</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>G01954</td>
                                <td>공통</td>
                                <td>컴퓨터과학개론</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>G01955</td>
                                <td>공통</td>
                                <td>이산수학</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>G01956</td>
                                <td>공통</td>
                                <td>인터넷과웹기초</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>G01957</td>
                                <td>공통</td>
                                <td>컴퓨팅사고와인공지능</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td rowspan="6">4</td>
                                <td>G01958</td>
                                <td>공통</td>
                                <td>C언어</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>G01959</td>
                                <td>공통</td>
                                <td>프로그래밍언어론</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>G01960</td>
                                <td>공통</td>
                                <td>컴퓨터과학개론</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>G01961</td>
                                <td>공통</td>
                                <td>이산수학</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>G01962</td>
                                <td>공통</td>
                                <td>인터넷과웹기초</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>G01963</td>
                                <td>공통</td>
                                <td>컴퓨팅사고와인공지능</td>
                                <td>3</td>
                            </tr>
                        </table>


                        <h5> 선택과목(교양)</h5>
                        <table class="option">
                            <tr>
                                <th>수준</th>
                                <th>코드번호</th>
                                <th>이수구분</th>
                                <th>교과목명</th>
                                <th>학점</th>
                            </tr>
                            <tr>
                                <td rowspan="6">1</td>
                                <td>G01964</td>
                                <td>공통</td>
                                <td>대학영어</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>G01965</td>
                                <td>공통</td>
                                <td>세계의역사</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>G01966</td>
                                <td>공통</td>
                                <td>고전 읽기와 토론</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>G01967</td>
                                <td>공통</td>
                                <td>컴퓨팅사고와인공지능</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>G01968</td>
                                <td>공통</td>
                                <td>인생과 철학</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>G01969</td>
                                <td>공통</td>
                                <td>기술과 의사소통</td>
                                <td>2</td>
                            </tr>
                        </table>

                    </div>




                </article>
            </section>
        </main>
        <!-- 메인 끝-->
        <!-- 푸터 시작작-->
        <footer>
            <div>
                <div>
                    <ul>
                        <li><a href="#">개인정보처리방침</a></li>
                        <li><a href="#">통합정보시스템</a></li>
                        <li><a href="#">학사일정</a></li>
                        <li><a href="#">주요인원 연락처</a></li>
                        <li><a href="#">교내공지사항</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div>
                    <img src="/greendae/images/footer_logo.png" alt="그린대학교">
                    <p>
                        그린대학교 <br>
                        [12345] 부산광역시 부산진구 부전대로 123 그린대학교 / 대표전화 : 051-123-1000 / <br>
                        입학안내 : 051-123-1302 팩스 : 051-123-3333

                        <br><br>
                        copyright ©Green University All rights reserved.
                    </p>
                    <div>
                        <p>주요사이트  
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ▾</p>
                    </div>              
                </div>
            </div>
        </footer>
        <!-- 푸터 끝-->
    </div>
</body>
</html>