<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학사안내 > 자주묻는질문</title>
    <link rel="stylesheet" th:href="@{/css/layout/layout.css}">
    <link rel="stylesheet" th:href="@{/css/academic/faq.css}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="website icon" type="png" th:href="@{/images/favicon.png}">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script>
        $(function() {
            var icons = {
                header: "ui-icon-circle-arrow-e",
                activeHeader: "ui-icon-circle-arrow-s"
            };

            // id가 accordion-1, accordion-2, accordion-3 각각 적용
            for (let i = 1; i <= 3; i++) {
                $(`#accordion-${i}`).accordion({
                    heightStyle: "content",
                    icons: icons
                });
            }
        });
    </script>
    <style>
        h5::before{
            content: url('/images/bullet-h4.png');
        }
        h5 {
            color: #145074;
            margin-top: 40px;
            font-weight: 500;
            font-size: 18px;
            line-height: 100%;
            vertical-align: middle;
            margin-bottom: 10px;
        }
        table.tc1 th {
            border-top: 2px solid #071F4B;
            border-bottom: 1px solid #dedede;
            background-color: #f4f8fc;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.5px;
            vertical-align: middle;
        }
        table.tc1 th:nth-child(4) {
            width: 350px;
        }
        table.tc1 td {
            font-size: 16px;
            border-right: 1px solid #dedede;
            border-bottom: 1px solid #dedede;
        }
        table.tc1 td:nth-last-child(1) {
            border-right: none;
        }

        table.tc1 {
            width: 850px;
            height: 500px;
            text-align: center;
            border-spacing: 0;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <!-- 헤더 시작작-->
        <th:block th:include="/inc/_header.html"/>
        <!-- 메인 시작작-->
        <main>
            <div class="background">
                <div>
                    <span style="margin-top: 10px;">
                        <img src="/images/ico-home.png" alt="HOME">
                        <img src="/images/bg-path-arrow.png" alt=">">
                        학사안내   
                        <img src="/images/bg-path-arrow.png" alt=">">
                        <span style="color: #071F4B;">자주묻는질문</span>
                    </span>
                </div>
            </div>
            <section class="content">
                <!-- 왼쪽 사이드바 -->
                <th:block th:include="/inc/academic/sidebar.html"/>
                <!-- 오른쪽 글 -->
                <article class="main_content">
                    <div class="main_title">
                        <p>자주묻는질문</p>
                    </div>
                    <section class="absence">
                        <h5> 휴·복학 관련</h5>
                        <div id="accordion-1">
                            <h3>일반휴학 연장은 몇 학기까지 가능한가요?</h3>
                            <div>
                                <p>
                                    휴학연장은 1회에 2학기 까지 신청 가능하고, 총 6학기까지 휴학 가능합니다.
                                </p>
                            </div>
                            <h3>복학하려고 하는데 어떻게 신청하나요?</h3>
                            <div>
                                <p>
                                    일반휴학의 경우 기간 만료 또는 사유 종료 후 시작되는 다음 학기의 개강일 전에 신청 해야하며, 따로 제출할 서류는 없습니다.<br>
                                    다만, 개인적으로 제출해야할 서류가 있는 경우에는 학과(부)사무실에 직접 제출 하여야 합니다.<br><br>
                                    군제대복학의 경우 병적증명서 및 주민등록 초본 등 군 전역을 증빙할 수 있는 서류가 필요합니다. <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;※ 이 경우, 전역 후 1년(2개 학기) 이내에 복학 해야 합니다.<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ex) 2019년도 11월(2학기)에 제대한 경우, 2020년 2학기에는 반드시 복학 해야함.<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ex) 2020년도 3월(1학기)에 제대한 경우, 2021년 1학기에는 반드시 복학 해야함.<br>
                                </p>
                            </div>
                            <h3>등록금 납부 후 일반 휴학이 가능한가요? 환불은 언제 되나요?</h3>
                            <div>
                                <p> 휴학은 가능하지만,</p>
                                <p style="color: orangered; font-weight: 500"> 등록 후에 휴학하는 경우 등록금은 반환되지 않습니다.</p>
                                <p>단, 등록금 반환 신청서를 학과 사무실에 제출한 경우엔 반환 가능합니다.</p>
                            </div>
                            <h3>군휴학 내려면 입영통지서 말고 어떤 서류가 필요한가요?</h3>
                            <div>
                                <p>
                                    군입영통지서 사본 1부가 필요합니다.<br><br>
                                    재학 중인 학생으로 입대예정일이 수업일수 3/4선 이후라도 본인이 원하는 경우, 당해학기 수업일수 3/4선 이전에 입영통지서로 휴학신청을 할 수 있으며 이때 당해학기는 군입대 휴학이 가능합니다. <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;다만, 수업일수 3/4선이 경과한 후에는 당해학기 휴학신청이 불가하며 이러한 경우에는 선시험 등을 통하여 학점을 인정받은 후 휴학하여야 합니다. <br>
                                    일반휴학 후 군휴학 시 입영일자가 수업일수 3/4선 이전이면 해당 학기는 군휴학 처리되며, 입영일자가 3/4이후면 해당 학기는 일반휴학 처리됩니다. <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;※ 이 경우, 군휴학은 다음 학기부터 적용됩니다. <br>
                                    군복무로 인한 휴학인정기간은 의무복무기간에 한하며, 의무복무 기간 이후에 개인적인 사정으로 인해 부사관 등으로 추가 복무하는 경우 해당 기간은 군휴학으로 처리되지 않으므로, 군제대 복학 신청 후 일반휴학을 추가로 신청해야 합니다. <br>
                                </p>
                            </div>
                        </div>
                    </section>

                    <section class="academic">
                        <h5> 교과 및 학사 관련</h5>
                        <div id="accordion-2">
                            <h3>학과별 교과과정과 학사안내를 확인하고 싶은데, 어떻게 확인할 수 있나요?</h3>
                            <div>
                                <p>
                                    홈페이지 내 대학요량(대학생활 안내)를 통해 해당 입학년도, 해당학과의 교과과정과 학사안내를 확인하세요.
                                </p>
                            </div>
                            <h3>복수전공 취소 또는 부전공 전환 신청은 어떻게 하나요?</h3>
                            <div>
                                <p style="font-weight: 500">복수전공 취소</p>
                                <p> 기간 : 3월 ~ 7월, 9월 ~ 1월 (2월 및 8월은 복수전공 포기 신청 불가능) <br></p>
                                <p style="color: orangered; font-weight: 400">졸업 예정자는 마지막 학기 수업 종료(6월 및 12월) 전까지 복수전공 이수 포기 신청</p>
                                <p>복수전공 포기 신청 후 최종 승인이 되면 변경 및 취소가 불가능하므로 신청 시 각별히 유의해주세요.</p><br>

                                <p style="font-weight: 500">부전공 전환 신청</p>
                                <p> 별도의 선발 절차 없이 수강신청에 의하여 전환 가능합니다.</p>
                                <p> &nbsp;&nbsp;&nbsp;&nbsp;※ 예체능계의 부전공 이수는 실기능력을 평가하되 세부사항은 당해 대학장이 정한 바에 따릅니다.</p><br>
                                <p>단, 다음 학과들은 부전공이 허용되지 않습니다.</p>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;※ 제외학과 : 간호대 간호학과, 의과대학, 치과대학 및 수의과대학 전학과, 약학대학 약학과, IT대학 전자공학부 모바일공학전공, 과학기술대학 치위생학과, 과학기술대학 산업기계공학과</p><br>
                                <p>단, 다음 학생들은 부전공이 허용되지 않습니다.</p>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;※ 제외학생 : IT대학 전자공학부 모바일공학전공 학생, 과학기술대학 치위생학과 학생, 과학기술대학 산업기계공학과 학생</p>
                            </div>
                            <h3>수강 신청은 어떻게 하나요?</h3>
                            <div>
                                <table class="tc1">
                                    <thead>
                                        <tr>
                                            <th>구분</th>
                                            <th>1학기</th>
                                            <th>2학기</th>
                                            <th>신청사이트</th>
                                            <th>비고</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>수강신청</td>
                                            <td>2월 중</td>
                                            <td>8월 중</td>
                                            <td>로그인 후 학생지원 페이지 접속</td>
                                            <td>해당년도 신입생 : 1학기 일괄 수강 신청</td>
                                        </tr>
                                        <tr>
                                            <td>수강신청 변경</td>
                                            <td colspan="2">개강 후 첫째 주</td>
                                            <td>
                                                수강신청사이트 : 수강정원 초과하지 않은 과목<br>
                                                통합정보시스템 : 수강정원 초과 과목
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>수강정정 신청</td>
                                            <td colspan="2">개강 후 셋째 주</td>
                                            <td>
                                                통합정보시스템
                                            </td>
                                            <td>수업일수 1/4선 이전</td>
                                        </tr>
                                        <tr>
                                            <td>수강확정</td>
                                            <td colspan="2">수업일수 1/4</td>
                                            <td></td>
                                            <td>재이수과목 이전성적 삭제</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <p>

                                </p>
                            </div>
                        </div>
                    </section>

                    <section class="register">
                        <h5> 수강신청 관련</h5>
                        <div id="accordion-3">
                            <h3>4학년 2학기에도 최소 12학점을 수강해야 하나요?</h3>
                            <div>
                                <p>
                                    학년당 최소 수강학점이 12점이긴 하나, 꼭 채우지 않아도 수강신청에는 문제가 없습니다.<br>
                                    다만, 학년별 수료증명서를 발급받기 위해서는 기준 학점이 있으므로 유의 바랍니다.
                                </p><br>
                                <p style="font-weight: 500">필요 조건</p>
                                <p> - 1학년 정규 2학기 이상 등록과 33학점 이상 취득<br>
                                    - 2학년 정규 4학기 이상 등록과 66학점 이상 취득<br>
                                    - 3학년 정규 6학기 이상 등록과 99학점 이상 취득<br>
                                    - 4학년 정규 8학기 이상 등록과 132학점 이상 취득<br>
                                    - 5학년 정규 10학기 이상 등록과 162학점 이상 취득<br>
                                </p>
                            </div>
                            <h3>9학기 이상 등록자는 수강신청 학점에 따라서 등록금이 달라지나요?</h3>
                            <div>
                                <p>
                                    1학점 ~ 3학점까지 : 소속학과 등록금의 1/6 금액 <br>
                                    4학점 ~ 6학점까지 : 소속학과 등록금의 1/3 금액 <br>
                                    7학점 ~ 9학점까지 : 소속학과 등록금의 1/2 금액 <br>
                                    10학점 ~ 한계학점 : 소속학과 등록금 전액 <br>
                                </p>
                            </div>
                            <h3>수강 신청은 어떻게 하나요?</h3>
                            <div>
                                <p>
                                    수강신청 안내를 참고하시기 바랍니다.
                                </p>
                            </div>
                        </div>
                    </section>
                </article>
            </section>
        </main>
        <!-- 메인 끝-->
        <th:block th:include="/inc/_footer.html"/>
    </div>
</body>
</html>