<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학사안내 > 성적</title>
    <link rel="stylesheet" th:href="@{/css/layout/layout.css}">
    <link rel="stylesheet" th:href="@{/css/layout/sexual.css}">
    <link rel="website icon" type="png" th:href="@{/images/favicon.png}">
</head>
<body>
    <div id="wrapper">
        <!-- 헤더 시작작-->
        <th:block th:include="/inc/_header.html"/>
        <!-- 헤더 끝-->
        <!-- 메인 시작작-->
        <main>
            <div class="background">
                <div>
                    <span style="margin-top: 10px;">
                        <img src="/images/ico-home.png" alt="HOME">
                        <img src="/images/bg-path-arrow.png" alt=">">
                        학사안내  
                        <img src="/images/bg-path-arrow.png" alt=">">
                        <span style="color: #071F4B;">성적</span>
                    </span>
                </div>
            </div>
            <section class="content">
                <!-- 왼쪽 사이드바 -->
                <th:block th:include="/inc/academic/sidebar.html"/>
                <!-- 오른쪽 글 -->
                <article class="main_content">
                    <div class="main_title">
                        <p>성적</p>
                    </div>
                    <div class="main_content_detail">
                        <!-- 작성할 내용 시작-->                        
                        
                        <p style="color: #0067B3; font-size: 18px; font-weight: 500;">
                            <img src="/images/bullet-h4.png" alt="" style="margin-right: 4px; margin-bottom: 3px; ">
                            시험
                        </p>
                        
                        <p class="text1" style="margin-bottom: 10px;">- 시험은 정기시험.비정기시험,추가시험,재시험 등으로 구분</p>
                        <p class="text2">
                            1)정기시험: 중간시험과 학기말시험으로 나누며 중간시험은 학기 당 수업일수 2분의 1이되는 주에 실시하고,학기말시험은 학기의 최종 주에 실시
                        </p>
                        <p class="text2"> 
                            2)비정기시험: 과제학습,세미나 등 계속적인 학습활동을 평가하는 시험으로 담당교수의 책임 하에 실시
                        </p>
                        <p class="text2">
                            3)추가시험: 질병 또는 부득이한 사정으로 정기시험에 응시할 수 없는 학생은 사유와 증빙서류를 첨부하여 추가시험신청서를 제출
                        </p>

                        <p class="text1" style="margin-top: 23px; margin-bottom: 15px;">- 시험 부정행위자의 처리</p>
                        <p class="text2">1) 시험 중 부정행위가 적발되면 감독교수는 그 행위내용을 시험지 상단에 기록하고 날인한 후 즉시 총장에게 보고</p>
                        <p class="text2">2) 시험 부정행위자에 대하여는 다음의 내용에 따라 제적 또는 유기정학 처분</p>
                        <p class="text2">└ 시험에 대리로 응시하거나 대리응시를 부탁한 경우</p>
                        <p class="text2">└ 시험지에 다른 사람의 이름을 쓰거나 쓰게 한 경우</p>
                        <p class="text2">└ 부정행위자로 적발되어 징계처분을 받은 사실이 있는 학생이 거듭 부정행위를 한 경우</p>
                        
                        <p style="color: #0067B3; font-size: 18px; font-weight: 500; margin-top: 50px;">
                            <img src="/images/bullet-h4.png" alt="" style="margin-right: 4px; margin-bottom: 3px; ">
                            성적
                        </p>
                        <p class="text1">- 평가내용</p>
                        <p class="text2" style="margin-top: 15px;">1) 성적평가는 각 교과목의 시험성적, 과제평가, 출석상황 및 학습태도 등을 종합하여 평가</p>
                        <p class="text2">2) 출석 및 학습태도 10-20%, 정기시험 50-70%, 비정기시험 및 과제 20-30%로 함을 원칙</p>

                        <p class="text1" style="margin-top: 30px;">- 등급</p>
                    
                        <table>
                            <thead>
                                <tr>
                                    <th>등급</th>
                                    <th>평점</th>
                                    <th>백분위 기준점수</th>
                                    <th>비고</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>A+</td>
                                    <td>4.5</td>
                                    <td>99</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>A</td>
                                    <td>4</td>
                                    <td>94</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>B+</td>
                                    <td>3.5</td>
                                    <td>89</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>B</td>
                                    <td>3.5</td>
                                    <td>89</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>C+</td>
                                    <td>2.5</td>
                                    <td>79</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>C</td>
                                    <td>2</td>
                                    <td>74</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>D+</td>
                                    <td>1.5</td>
                                    <td>69</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>D</td>
                                    <td>1</td>
                                    <td>64</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>F</td>
                                    <td>0</td>
                                    <td>59</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="text2" style="margin-top: 10px;">※ 이수한 교과목의 성적이 D0급 이상 또는 P일 경우는 학점을 취득한 것으로 인정</p>
                        
                    </div>  
                    
                </article>
            </section>
        </main>
        <!-- 메인 끝-->
        <!-- 푸터 시작작-->
        <th:block th:include="/inc/_footer.html"/>
        <!-- 푸터 끝-->
    </div>
</body>
</html>